@import "@fontsource/lekton/400.css";
@import "@fontsource/lekton/700.css";


@import "@fontsource/red-hat-mono/400.css";
@import "@fontsource/red-hat-mono/700.css";

@import "@fontsource/inconsolata/400.css";
@import "@fontsource/inconsolata/700.css";
@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme {
  --font-sans: "Lekton", monospace;
  --font-mono: "Inconsolata", monospace;
}
